/* RESET CSS*/
    /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* RESET CSS ENDING*/

/*  BEBASENEU REGULAR font */

    @font-face {
        font-family: 'Quicksand_Dash';
        src: url('/assets/fonts/Quicksand_Dash-webfont.eot');
        src: url('/assets/fonts/Quicksand_Dash-webfont.eot?#iefix') format('embedded-opentype'),
             url('/assets/fonts/Quicksand_Dash-webfont.woff') format('woff'),
             url('/assets/fonts/Quicksand_Dash-webfont.ttf') format('truetype'),
             url('/assets/fonts/Quicksand_Dash-webfont.svg') format('svg');
    }

    @font-face {
        font-family: 'Quicksand-Bold';   
        src: url('/assets/fonts/Quicksand-Bold-webfont.eot');
        src: url('/assets/fonts/Quicksand-Bold-webfont.eot?#iefix') format('embedded-opentype'),
             url('/assets/fonts/Quicksand-Bold-webfont.woff') format('woff'),
             url('/assets/fonts/Quicksand-Bold-webfont.ttf') format('truetype'),
             url('/assets/fonts/Quicksand-Bold-webfont.svg') format('svg');
    }

    @font-face {
        font-family: 'Quicksand-BoldItalic';
        src: url('/assets/fonts/Quicksand-BoldItalic-webfont.eot');
        src: url('/assets/fonts/Quicksand-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
             url('/assets/fonts/Quicksand-BoldItalic-webfont.woff') format('woff'),
             url('/assets/fonts/Quicksand-BoldItalic-webfont.ttf') format('truetype'),
             url('/assets/fonts/Quicksand-BoldItalic-webfont.svg') format('svg');
    }

    @font-face {
        font-family: 'Quicksand-Italic';
        src: url('/assets/fonts/Quicksand-Italic-webfont.eot');
        src: url('/assets/fonts/Quicksand-Italic-webfont.eot?#iefix') format('embedded-opentype'),
             url('/assets/fonts/Quicksand-Italic-webfont.woff') format('woff'),
             url('/assets/fonts/Quicksand-Italic-webfont.ttf') format('truetype'),
             url('/assets/fonts/Quicksand-Italic-webfont.svg') format('svg');
    }

    @font-face {
        font-family: 'Quicksand-Light';
        src: url('/assets/fonts/Quicksand-Light-webfont.eot');
        src: url('/assets/fonts/Quicksand-Light-webfont.eot?#iefix') format('embedded-opentype'),
             url('/assets/fonts/Quicksand-Light-webfont.woff') format('woff'),
             url('/assets/fonts/Quicksand-Light-webfont.ttf') format('truetype'),
             url('/assets/fonts/Quicksand-Light-webfont.svg') format('svg');
    }

/*  BEBASENEU REGULAR font-ending */

/*  UTILITY CLASSES */
    .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
/*  END UTILITY CLASSES */

body {
    background: #ebebeb;
}

body, html{
    font-family: 'Quicksand_Dash';
}

/*   HEADER   */

header#header {
    background: #ff5959;
    display: inline-block;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 85px;
}

div#projex_logo_wrap {
    display: inline-block;
    position: relative;
}

#logo {
    background: url('/images/projex-logo.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    height: 49px;
    width: 185px;
    border: none;
    left: 175%;
    top: 19px;
}

nav#navigation_bar_wrap {
    display: inline-block;
    position: relative;
    float: right;
    top: 40%;
    margin: auto;
    right: 16%;
}

a#navigation_cell {
    padding: 0 15px 0 15px;
    color: #E8E8E8;
    text-decoration: none;
    font-size: 12px;
}

a#navigation_cell:hover {
    padding: 0 15px 0 15px;
    color: #E8E8E8;
    text-decoration: underline;
    font-size: 12px;
}

/*  END HEADER   */

/*  SECTION 1   BEGIN   */

section#section1_wrap {
    height: 620px;
}

div#section1_content {
    position: relative;
    height: 275px;
    width: 900px;
    margin: auto;
    top: 200px;
}

div#button_wrap {
    width: 295px;
    height: 30px;
    display: inline-block;
    position: relative;
    margin-top: 223px;
    margin-left: 75px;
}

button.section1-button-our-team {
    border: 1px solid #ff5959;
    border-radius: 5px;
    background: #ff5959;
    color: #fff;
    width: 116px;
    height: 28px;
    margin: 0px 15px;
}

button.section1-button-blank {
    border: 2px solid #ff5959;
    border-radius: 5px;
    margin: 0px 0px 0px 15px;
    background: #fff;
    width: 116px;
    height: 28px;
    float: right;
    display: inline-flex;
}

#section1_computer_slider {
    background: url('/images/slider.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    height: 258px;
    width: 472px;
    float: right;
}

/*  SECTION 1   END   */

/*   SECTION 2 BEGIN Our Services  */

section#section2_wrap {
    
    background: #e8e8e8;
    height: 500px;
}

div#section2_head {
    width: 372px;
    margin: auto;
    position: relative;
    top: 30px;
}

h2.section2-h2 {
    font-size: 30px;
    width: 194px;
    display: block;
    position: relative;
    margin: auto;
    top: 5px;
}

#section2_header_decoration {
    background: url('/images/section2-header-decoration.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    height: 10px;
    width: 373px;
}

section#services {
    width: 1128px;
    margin: auto;
}

#section_content_box {
    width: 292px;
    position: relative;
    display: inline-block;
    padding: 90px 40px 0px 40px;
}

 .html-css-lightbulb{
    background: url('/images/html-css-lightbulb.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    height: 129px;
    width: 122px;
    left: 86px;
}

.section2-h2-box-header {
    font-size: 25px;
    width: 283px;
    display: block;
    position: relative;
    margin: auto;
    top: 5px;
    text-align: center;
    padding-bottom: 20px;
}

p.section2-h2-box-paragraph {
    font-size: 12px;
    text-align: center;
    width: 287px;
}

 .seo-mag{
    background: url('/images/seo-mag.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    height: 129px;
    width: 122px;
    left: 86px;
}

 .design-pencil{
    background: url('/images/design-pencil.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    height: 129px;
    width: 122px;
    left: 86px;
}



/*   SECTION 2 END   */

/*   SECTION 3 BEGIN Our Portfolio   */

section#section3_wrap {
    position: relative;
    display: block;
    height: 820px;
    background: #FF5959;
    top: -3px;
}

h2.section3-h2 {
    font-size: 30px;
    width: 194px;
    display: block;
    position: relative;
    margin: auto;
    top: 5px;
    color: #fff;
}

#section3_header_decoration {
    background: url('/images/section3-header-decoration.png') no-repeat 0px 0px transparent;
    display: block;
    position: relative;
    height: 12px;
}

div#thumbnail_gallery {
    display: block;
    position: relative;
    margin: auto;
    width: 1165px;
    top: 100px;
}

#section3-lrg-thumbnail-1 {
    background: url('/images/section3-lrg-thumbnail-1.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    height: 288px;
    width: 572px;
    padding-bottom: 10px;
}

#section3-lrg-thumbnail-2 {
    background: url('/images/section3-lrg-thumbnail-2.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    height: 288px;
    width: 570px;
    float: right;
    padding-bottom: 10px;
}

#section3-lrg-thumbnail-2:hover {
    background: url('/images/section3-lrg-thumbnail-2_hover.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    height: 288px;
    width: 570px;
    float: right;
    padding-bottom: 10px;
}

#section3-sm-thumbnail-1 {
    background: url('/images/section3-sm-thumbnail-1.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 270px;
    height: 287px;    
    padding-right: 26px;
}

#section3-sm-thumbnail-2 {
    background: url('/images/section3-sm-thumbnail-2.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 270px;
    height: 287px;
    padding-right: 23px;
}

#section3-sm-thumbnail-3 {
    background: url('/images/section3-sm-thumbnail-3.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 270px;
    height: 287px;
    padding-right: 21px;
}

#section3-sm-thumbnail-4 {
    background: url('/images/section3-sm-thumbnail-4.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 270px;
    height: 287px;
}

/*   SECTION 3 END   */

/*   SECTION 4 BEGIN   */

section#section4_wrap {
    height: 5px;
    background: #E8E8E8;
}

h2.section4-h2 {
    font-size: 30px;
    width: 318px;
    display: block;
    position: relative;
    margin: auto;
    top: 5px;
}

div#ceos_founders {
    height: 400px;
    width: 1000px;
    margin: auto;
    margin-top: 75px;
}

div#team_member_profile {
    height: 400px;
    width: 200px;
    text-align: center;
    float: left;
    margin: 0px 24px;
}

div#profile_bust1 {
    background: url('') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 170px;
    height: 165px;
    border: 2px solid red;
    border-radius: 150px;
    margin-bottom: 30px;
    left: 4px;
}

div#profile_bust2 {
    background: url('') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 170px;
    height: 165px;
    border: 2px solid red;
    border-radius: 150px;
    margin-bottom: 30px;
    left: 4px;
}

div#profile_bust3 {
    background: url('') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 170px;
    height: 165px;
    border: 2px solid red;
    border-radius: 150px;
    margin-bottom: 30px;
    left: 4px;
}

div#profile_bust4 {
    background: url('') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 170px;
    height: 165px;
    border: 2px solid red;
    border-radius: 150px;
    margin-bottom: 30px;
    left: 4px;
}

h1#team_member_name {
    font-size: 20px;
}

h3#member_title {
    margin-bottom: 20px;
}

div#social_media {
    width: 200px;
    padding-top: 5px;
}

#social_media_buttons.twitter_handle {
    background: url('/images/social-media.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;   
}

#social_media_buttons.pintrest {
    background: url('/images/social-media.png') no-repeat -35px 0px  transparent;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;   
}

#social_media_buttons.facebook {
    background: url('/images/social-media.png') no-repeat -71px 0px transparent;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;   
}

#social_media_buttons.google {
    background: url('/images/social-media.png') no-repeat -105px 0px transparent;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;   
}

#social_media_buttons.linked-in {
    background: url('/images/social-media.png') no-repeat -140px 0px transparent;
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;   
}

/*   SECTION 4 END   */

/*   LATEST NEWS   */

section#latest_news_wrap {
    display: inline-block;
    position: relative;
    height: 645px;
    width: 100%;
    background: #FF5959;
    color: #fff;
}

div#latest_news_content {
    width: 315px;
}

div#latest_news_marquee {
    position: relative;
    height: 500px;
    width: 1150px;
    margin: auto;
    top: 59px;
    left: 9px;
}

div#latest_news_alert {
    position: relative;
    display: inline-block;
    top: 55px;
    margin: auto;
    width: 368px;
}

div#latest_news_alert2 {
    position: relative;
    display: inline-block;
    top: 55px;
    margin: auto;
    width: 368px;
    padding: 0px 15px 0px 15px;
}

div#latest_news_alert3 {
    position: relative;
    display: inline-block;
    top: 55px;
    margin: auto;
    width: 368px;
}

#latest_alert_image {
    background: url('/images/latest-alert-image.png') no-repeat 0px 0px transparent;
    display: inline-block;
    position: relative;
    width: 368px;
    height: 203px;
}

h2.latest-alert-headline {
    font-size: 20px;
    padding-bottom: 10px;
}

p.alert-new-content {
    font-size: 12px;
    padding-top: 10px;
}

p.alert-new-content-author {
    width: 72px;
    font-size: 12px;
    padding-top: 10px
}

p.alert-new-content-comments {
    width: 108px;
    position: relative;
    display: inline-block;
    float: right;
    bottom: 10px;
    font-size: 12px;
}






